<!DOCTYPE html>
<html lang="pt">
  <head>
    <title>Smart Medicine Cup - SignUp</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/user/css/user.css" rel="stylesheet">
  </head>

  <body id="signup">
    <!-- Login -->
    <div class="login">
      <h2>Página de Cadastro</h2>
      <hr>
      <div class="login-email">
        <input type="email" placeholder="E-mail" required />
      </div>
      <div class="login-senha">
        <input type="senha" placeholder="Senha" required />
      </div>
      <div class="login-senha">
        <input type="senha" placeholder="Confirmar Senha" required />
      </div>
      <button class="login-button" href="#">Cadastrar</button>
    </div>
  </body>
</html>
