{% extends "base.html" %}

{% block title %}SMC - Painel - Contatos{% endblock %}

{% block navclass %}bg-secondary{% endblock %}
{% block navlinkclass %}text-white{% endblock %}
{% block hreflogo %}/dashboard/{% endblock %}

{% block navitem %}
  {% include "navitens.html" %}
{% endblock %}

{% block content %}

  <section>

    <div class="container">
      <h1 class="text-secondary">Painel SMC</h1>
      <hr class="dashboardHr">
      <div class="row">
        {% include "menu.html" %}
      </div>
      <div class="row mt-3">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Meus Contatos</h3>
              <div class="row bg-warning m-0 mb-4 pb-1"></div>
              <h5 class="card-subtitle mb-2 text-muted">Clique em ADICIONAR para cadastrar um novo contato</h5>
              <div class="table-responsive mt-5">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Nome</th>
                      <th scope="col">Username</th>
                    </tr>
                  </thead>
                  {% for element in list_contacts %}
                  <tbody>
                    <tr>
                      <td scope="row">{{element.pk}}</td>
                      <td>{{element.name}}</td>
                      <td>{{element.username}}</td>
                    </tr>
                  </tbody>
                  {% endfor %}
                </table>
              </div>
              <div class="row">
                <div class="col-lg-6 text-right">
                  <a class="btn btn-lg btn-secondary text-white" href="/dashboard/">Home</a>
                </div>
                <div class="col-lg-6 text-left">
                  <a href="{% url 'addcontact' %}" class="btn btn-lg btn-primary">Adicionar</a>
                </div>
              </div>
              {% comment %} <!-- Modal -->
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="modalAddSmc" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Adicionar SMC</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form class="mt-3">
                        <div class="form-group row mb-5">
                          <label for="name" class="col-lg-4 col-form-label">Código SMC:</label>
                          <div class="col-lg-8">
                            <input type="text" class="form-control" id="smcCode">
                          </div>
                        </div>
                        <div class="form-group row text-center">
                          <div class="col-lg-6 text-right">
                            <button type="button" class="btn btn-lg btn-secondary text-white" data-dismiss="modal">Cancelar</button>
                          </div>
                          <div class="col-lg-6 text-left">
                            <button type="submit" class="btn btn-lg btn-primary ">Adicionar</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div> <!-- END Modal --> {% endcomment %}
            </div>
          </div> <!-- END CARD -->
        </div> <!-- END COL-->
      </div><!-- END ROW-->

    </div> <!--END CONTAINER-->

  </section>

{% endblock %}

{% block script %}
  <script type="text/javascript">
    (function($) {
      "use strict"; // Start of use strict
      $('.dashboardBtn').eq(1).addClass('disabled');
    })(jQuery); // End of use stric
  </script>
{% endblock %}
