{% extends "base.html" %}

{% block title %}SMC - Painel{% endblock %}

{% block navclass %}bg-secondary{% endblock %}
{% block navlinkclass %}text-white{% endblock %}

{% block navitem %}
  {% include "navitens.html" %}
{% endblock %}

{% block content %}

  <section>

    <div class="container">

      <h1 class="text-secondary">Painel SMC</h1>
      <hr class="dashboardHr">
      <div class="row">
        {% include "menu.html" %}
      </div>
      <div class="row mt-3">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Histórico</h3>
              <h5 class="card-subtitle mb-2 text-muted">Mais recentes</h5>
              <div class="table-responsive">
              <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Dia Horário</th>
                      <th scope="col">Copo</th>
                      <th scope="col">Compartimento</th>
                      <th scope="col">Evento</th>
                    </tr>
                  {% for element in list_historic %}
                    <tr>
                      <td>{{element.moment}}</td>
                      <td>{{element.cup_id}}</td>
                      <td>{{element.alarm.partition}}</td>
                      <td>{{element.event}}</td>
                    </tr>
                  {% endfor %}
                </table>
              </div>
            </div>
          </div> <!-- END CARD -->
        </div> <!-- END COL-->
      </div>
      <div class="row mt-3">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Contatos</h3>
              <h5 class="card-subtitle mb-2 text-muted">Alertas</h5>
              <ul class="list-group">
                  {%for element in list_smc%}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <td>{{element.username}}</td>
                      <span class="badge badge-success badge-pill">Habilitado</span>
                    </li>
                  {%endfor%}
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Informações</h3>
              <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
              <div class="table-responsive">
                <table class="table">
                  <tbody>
                    <tr>
                      <th scope="row">Nome completo:</th>
                      <td>{{request.user.first_name}} {{request.user.last_name}}</td>
                    </tr>
                    <tr>
                      <th scope="row">E-mail:</th>
                      <td>{{request.user.email}}</td>
                    </tr>
                    <tr>
                      <th scope="row">SMCs cadastrados:</th>
                      <td></td>
                    </tr>
                    {%for element in list_smc%}
                      <tr>
                        <td scope="row">{{element.cup_id}}</td>
                        </tr>
                    {%endfor%}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div> <!--END CONTAINER-->

  </section>

{% endblock %}
