{% extends "base.html" %}

{% block title %}SMC - Painel - Meus Dados{% endblock %}

{% block navclass %}bg-secondary{% endblock %}
{% block navlinkclass %}text-white{% endblock %}
{% block hreflogo %}/dashboard/{% endblock %}

{% block navitem %}
  {% include "navitens.html" %}
{% endblock %}

{% block content %}

  <section>

    <div class="container">

      <h1 class="text-secondary">Painel SMC</h1>
      <hr class="dashboardHr">
      <div class="row">
        {% include "menu.html" %}
      </div>
      <div class="row mt-3">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Editar Meus Dados</h3>
              <div class="row bg-danger m-0 mb-4 pb-1"></div>
              <h5 class="card-subtitle mb-2 text-muted">Clique em SALVAR para editar</h5>
              <form class="mt-5">
                <div class="form-group row">
                  <label for="name" class="col-lg-3 col-form-label">Nome completo:</label>
                  <div class="col-lg-9">
                    <input type="email" class="form-control" id="name" value="Fulano da Silva" disabled>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="email" class="col-lg-3 col-form-label">E-mail:</label>
                  <div class="col-lg-9">
                    <input type="email" class="form-control" id="email" value="meuemail@email.com.br" disabled>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="password" class="col-lg-3 col-form-label">Senha:</label>
                  <div class="col-lg-9">
                    <input type="password" class="form-control" id="password" value="123456">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="password" class="col-lg-3 col-form-label">Confirmar senha:</label>
                  <div class="col-lg-9">
                    <input type="password" class="form-control" id="password">
                  </div>
                </div>
                <div class="form-group row text-center">
                  <div class="col-lg-6 text-right">
                    <a class="btn btn-lg btn-secondary text-white" href="/dashboard/">Voltar</a>
                  </div>
                  <div class="col-lg-6 text-left">
                    <button type="submit" class="btn btn-lg btn-primary">Salvar</button>
                  </div>
                </div>
              </form>
            </div>
          </div> <!-- END CARD -->
        </div> <!-- END COL-->
      </div><!-- END ROW-->

    </div> <!--END CONTAINER-->

  </section>

{% endblock %}

{% block script %}
  <script type="text/javascript">
    (function($) {
      "use strict"; // Start of use strict
      $('.dashboardBtn').eq(3).addClass('disabled');
    })(jQuery); // End of use stric
  </script>
{% endblock %}
