{% extends "base.html" %}

{% block title %}SMC - Painel - Histórico{% endblock %}

{% block navclass %}bg-secondary{% endblock %}
{% block navlinkclass %}text-white{% endblock %}
{% block hreflogo %}/dashboard/{% endblock %}

{% block navitem %}
  {% include "navitens.html" %}
{% endblock %}

{% block content %}

  <section>

    <div class="container">

      <h1 class="text-secondary">Painel SMC</h1>
      <hr class="dashboardHr">
      <div class="row">
        {% include "menu.html" %}
      </div>
      <div class="row mt-3">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Histórico</h3>
              <div class="row bg-blue m-0 mb-4 pb-1"></div>
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Dia Horário</th>
                      <th scope="col">SMC</th>
                      <th scope="col">Evento</th>
                    </tr>
                  </thead>
                  <tbody>
                  {%for element in list_historic%}
                    <tr>
                      <td>{{element.moment}}</td>
                      <td>{{element.cup_id}}</td>
                      <td>{{element.event}}</td>
                    </tr>
                  {%endfor%}
                  </tbody>
                </table>
              </div>
            </div>
          </div> <!-- END CARD -->
        </div> <!-- END COL-->
      </div><!-- END ROW-->

    </div> <!--END CONTAINER-->

  </section>

{% endblock %}

{% block script %}
  <script type="text/javascript">
    (function($) {
      "use strict"; // Start of use strict
      $('.dashboardBtn').eq(0).addClass('disabled');
    })(jQuery); // End of use stric
  </script>
{% endblock %}
