<div class="col-lg-3">
  <a class="btn btn-blue dashboardBtn" href="/dashboard/historic/" role="button">Histórico</a>
</div>
<div class="col-lg-3">
  <a class="btn btn-warning dashboardBtn text-white" href="/dashboard/historic/" role="button">Telefd kldl kdones</a>
</div>
<div class="col-lg-3">
  <a class="btn btn-success dashboardBtn" href="/dashboard/historic/" role="button">SMCs</a>
</div>
<div class="col-lg-3">
  <a class="btn btn-danger dashboardBtn" href="/dashboard/edit_registration/" role="button">Meus dados</a>
</div>
