<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static "/vendor/fontawesome-free/css/all.min.css" %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="{% static "/vendor/magnific-popup/magnific-popup.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "/css/creative.min.css" %}" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top {% block navclass %}{% endblock %}" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger {% block navlinkclass %}{% endblock %}" href="{% block hreflogo %}{% endblock %}"><i class="fas fa-heartbeat"></i> Smart Medicine Cup</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            {% block navitem %}{% endblock %}
          </ul>
        </div>
      </div>
    </nav>

    {% block content %}{% endblock %}

    <footer class="footer bg-primary text-white">
      {% block footer %}{% endblock %}
      <div class="bg-secondary footer-bar">
        <div class="container text-center">
          <span class="text-uppercase">&copy; {% now "Y" %} Smart Medicine Cup</span>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static "/vendor/jquery/jquery.min.js" %}"></script>
    <script src="{% static "/vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static "/vendor/jquery-easing/jquery.easing.min.js" %}"></script>
    <script src="{% static "/vendor/scrollreveal/scrollreveal.min.js" %}"></script>
    <script src="{% static "/vendor/magnific-popup/jquery.magnific-popup.min.js" %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static "/js/creative.min.js" %}"></script>

  </body>

</html>
