{% extends "base.html" %}

{% load static %}

{% block title %}Smart Medicine Cup{% endblock %}

{% block hreflogo %}#page-top{% endblock %}

{% block navitem %}
    <li class="nav-item">
      <a class="nav-link js-scroll-trigger" href="#about">Sobre</a>
    </li>
    <li class="nav-item">
      <a class="nav-link js-scroll-trigger" href="#services">SMC</a>
    </li>
    <li class="nav-item">
      <a class="nav-link js-scroll-trigger" href="#portfolio">Galeria</a>
    </li>
    <li class="nav-item">
      <a class="nav-link js-scroll-trigger" href="#team">Equipe</a>
    </li>
    <li class="nav-item pt-2">
      <a class="nav-link p-0"> | </a>
    </li>
    {% include "navlogin.html" %}
{% endblock %}

{% block content %}
    <header class="carouselBox text-center text-white">
      <div class="titleBox">
        <h1 class="text-uppercase">
          <strong>SMC - Smart Medicine Cup</strong>
        </h1>
        <hr>
        <p class="text-faded mb-5 font-weight-bold">Uma forma eficiente, segura e prática para uso contínuo de medicamentos</p>
        <a class="btn btn-secondary btn-xl js-scroll-trigger" href="#about">Descubra mais</a>
      </div>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item carousel-item-1 active">
            <div class="carousel-caption d-none d-md-block">
              <h5>Consumo controlado e Registro de Informações</h5>
              <p>A Integração de dispositivos SMC não vai mais deixar você perder a hora de seus remédios</p>
            </div>
          </div>
          <div class="carousel-item carousel-item-2">
            <div class="carousel-caption d-none d-md-block">
              <h5>Maior controle da sua frequência de uso</h5>
              <p>O SMC permite que você veja quando deixou de tomar algum remédio</p>
            </div>
          </div>
          <div class="carousel-item carousel-item-3">
            <div class="carousel-caption d-none d-md-block">
              <h5>Controle melhor quantos e quais remédios você precisa tomar.</h5>
              <p>Com o sistema de partições indetificadas por led do SMC, você não vai mais se confundir quanto aos seus medicamentos.</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </header>

    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">Uma nova forma de se cuidar!</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">A Ingestão de medicamentos em horários desregulados, a falta de frequência do uso de alguns remédios podem provocar problemas graves e até agravar doenças. O SMC chegou para te ajudar a evitar esses problemas.</p>
            <a class="btn btn-secondary btn-xl js-scroll-trigger" href="#services">Saiba mais</a>
            <a class="btn btn-secondary btn-xl ml-4" href="/api/signup/">Cadastre-se</a>
          </div>
        </div>
      </div>
    </section>

    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Nosso Diferencial</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-gem text-primary mb-3 sr-icon-1"></i>
              <h3 class="mb-3">Segurança</h3>
              <p class="text-muted mb-0">Uma estrutura projetada sob medida e com atenção especial para o consumo permite que você transporte remédios e água ao mesmo tempo.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-paper-plane text-primary mb-3 sr-icon-2"></i>
              <h3 class="mb-3">Mobilidade</h3>
              <p class="text-muted mb-0">O SMC foi projetado para utilização plena dentro e fora de casa, com um funcionamento independente de redes e uma estrutura de compartimentos para suas necessidades.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-code text-primary mb-3 sr-icon-3"></i>
              <h3 class="mb-3">Tecnologia</h3>
              <p class="text-muted mb-0">O SMC conta com um sistema web e mobile de apoio para monitoramento e armazenamento de dados, permitindo ainda notificação via Telegram no seu celular.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-heart text-primary mb-3 sr-icon-4"></i>
              <h3 class="mb-3">Saúde</h3>
              <p class="text-muted mb-0">Todas essas características foram desenvolvidas para atender ao componente mais importante: Você! Cadastre-se agora mesmo e adquira seu SMC.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="p-0" id="portfolio">
      <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery">
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="{% static "/img/portfolio/fullsize/1.jpg" %}">
              <img class="img-fluid" src="{% static "/img/portfolio/fullsize/1.jpg" %}" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Eletrônica
                  </div>
                  <div class="project-name">
                    Circuito Projetado
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="{% static "/img/portfolio/fullsize/2.jpg" %}">
              <img class="img-fluid" src="{% static "/img/portfolio/fullsize/2.jpg" %}" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Bateria
                  </div>
                  <div class="project-name">
                    Dimensionamento de Carga
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="{% static "/img/portfolio/fullsize/3.jpg" %}">
              <img class="img-fluid" src="{% static "/img/portfolio/fullsize/3.jpg" %}" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Bateria
                  </div>
                  <div class="project-name">
                    Testes de Durabilidade
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="{% static "/img/portfolio/fullsize/4.jpg" %}">
              <img class="img-fluid" src="{% static "/img/portfolio/fullsize/4.jpg" %}" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Estrutura
                  </div>
                  <div class="project-name">
                    Componentes em Impressão 3D
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="{% static "/img/portfolio/fullsize/5.jpg" %}">
              <img class="img-fluid" src="{% static "/img/portfolio/fullsize/5.jpg" %}" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Software
                  </div>
                  <div class="project-name">
                    Integração Web e Mobile
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="{% static "/img/portfolio/fullsize/6.jpg" %}">
              <img class="img-fluid" src="{% static "/img/portfolio/fullsize/6.jpg" %}" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Equipe SMC
                  </div>
                  <div class="project-name">
                    Desenvolvimento Integrado
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section id="team">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Equipe</h2>
            <hr class="my-4">
            <p class="mb-5">A Equipe de desenvolvimento do SMC conta com estudantes de engenharia da Universidade de Brasília, da Faculdade do Gama, que buscam desenvolver versões cada vez melhores do dispositivo.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ml-auto text-center">
            <i class="fas fa-users fa-3x mb-3 sr-team-1 text-primary"></i>
            <p>Equipe Integrada</p>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fas fa-capsules fa-3x mb-3 sr-team-2 text-primary"></i>
            <p>Identificação de Necessidades</p>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fas fa-pills fa-3x mb-3 sr-team-2 text-primary"></i>
            <p>Pluralidade de Ideias</p>
          </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-12">
              <br><br>
              <a class="btn btn-secondary btn-xl js-scroll-trigger" href="/team/">Saiba mais</a>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}

{% block footer %}
  <div class="container footerBox">
    <div class="row">
      <div class="col-lg-9">
        <h5 class="text-uppercase">Equipe SMC</h5>
        <p>O Desenvolvimento do dispositivo foi realizado para a disciplina de "Projeto Integrador de Engenharias 1", da Universidade de Brasília (UnB) faculdade do gama (FGA). O Desenvolvimento do dispositivo não possui fins lucrativos, sem afilicação com nenhuma empresa ou terceiros com foco na venda ou fornecimento de dispositivos desenvolvidos.</p>
      </div>
      <div class="col-lg-3">
        <h5 class="text-uppercase">Links</h5>
        <ul class="list-unstyled">
          <li>
            <a href="http://www.unb.br/" class="text-white" target="_blank">Universidade de Brasília</a>
          </li>
          <li>
            <a href="https://www.fga.unb.br" class="text-white" target="_blank">Faculdade do Gama</a>
          </li>
          <!-- <li>
            <a href="#!" class="text-white">Link 3</a>
          </li>
          <li>
            <a href="#!" class="text-white">Link 4</a>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
