<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Smart Medicine Cup</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/landing_page/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/static/landing_page/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="/static/landing_page/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/landing_page/css/creative.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"><i class="fas fa-heartbeat"></i> Smart Medicine Cup</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">Sobre</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">API</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">Galeria</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#team">Equipe</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"></a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Cadastre-se</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Login</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>SMC - Smart Medicine Cup</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Descubra mais</a>
          </div>
        </div>
      </div>
    </header>

    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">Lorem ipsum dolor sit amet!</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a>
          </div>
        </div>
      </div>
    </section>

    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Lorem ipsum dolor</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-gem text-primary mb-3 sr-icon-1"></i>
              <h3 class="mb-3">Lorem ipsum dolor</h3>
              <p class="text-muted mb-0">Sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-paper-plane text-primary mb-3 sr-icon-2"></i>
              <h3 class="mb-3">Lorem ipsum dolor</h3>
              <p class="text-muted mb-0">Sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-code text-primary mb-3 sr-icon-3"></i>
              <h3 class="mb-3">Lorem ipsum dolor</h3>
              <p class="text-muted mb-0">Sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-heart text-primary mb-3 sr-icon-4"></i>
              <h3 class="mb-3">Lorem ipsum dolor</h3>
              <p class="text-muted mb-0">Sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="p-0" id="portfolio">
      <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery">
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="/static/landing_page/img/portfolio/fullsize/1.jpg">
              <img class="img-fluid" src="/static/landing_page/img/portfolio/thumbnails/1.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Lorem ipsum
                  </div>
                  <div class="project-name">
                    Dolor sit amet
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="/static/landing_page/img/portfolio/fullsize/2.jpg">
              <img class="img-fluid" src="/static/landing_page/img/portfolio/thumbnails/2.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Lorem ipsum
                  </div>
                  <div class="project-name">
                    Dolor sit amet
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="/static/landing_page/img/portfolio/fullsize/3.jpg">
              <img class="img-fluid" src="/static/landing_page/img/portfolio/thumbnails/3.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Lorem ipsum
                  </div>
                  <div class="project-name">
                    Dolor sit amet
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="/static/landing_page/img/portfolio/fullsize/4.jpg">
              <img class="img-fluid" src="/static/landing_page/img/portfolio/thumbnails/4.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Lorem ipsum
                  </div>
                  <div class="project-name">
                    Dolor sit amet
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="/static/landing_page/img/portfolio/fullsize/5.jpg">
              <img class="img-fluid" src="/static/landing_page/img/portfolio/thumbnails/5.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Lorem ipsum
                  </div>
                  <div class="project-name">
                    Dolor sit amet
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="/static/landing_page/img/portfolio/fullsize/6.jpg">
              <img class="img-fluid" src="/static/landing_page/img/portfolio/thumbnails/6.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Lorem ipsum
                  </div>
                  <div class="project-name">
                    Dolor sit amet
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-primary text-white">
      <div class="container text-center">
        <h2 class="mb-4">Acompanhe seu API agora!</h2>
        <div class="row">
          <div class="col-lg-2 ml-auto text-center">
            <a class="btn btn-light btn-xl sr-button" href="#">Cadastre-se</a>
          </div>
          <div class="col-lg-1 text-center">
            <p></p>
            <p>ou</p>
          </div>
          <div class="col-lg-2 mr-auto text-center">
            <a class="btn btn-light btn-xl sr-button" href="#">Faça seu login</a>
          </div>
        </div>
      </div>
    </section>

    <section id="team">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Equipe</h2>
            <hr class="my-4">
            <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ml-auto text-center">
            <i class="fas fa-users fa-3x mb-3 sr-team-1"></i>
            <p>Lorem ipsum dolor sit amet</p>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fas fa-capsules fa-3x mb-3 sr-team-2"></i>
            <p>Consectetur adipisicing elit</p>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fas fa-pills fa-3x mb-3 sr-team-2"></i>
            <p>Sed do eiusmod tempor incididunt</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="/static/landing_page/vendor/jquery/jquery.min.js"></script>
    <script src="/static/landing_page/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/static/landing_page/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/static/landing_page/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="/static/landing_page/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/static/landing_page/js/creative.min.js"></script>

  </body>

</html>
