{% extends "base.html" %}

{% block title %}SMC - Equipe{% endblock %}

{% block hreflogo %}/{% endblock %}

{% block navitem %}
  {% include "navlogin.html" %}
{% endblock %}

{% block content %}
    <section class="bg-secondary">
      <div class="container">
        <div class="text-center">
          <h1 class="text-white text-uppercase">
            <strong>Equipe SMC</strong>
          </h1>
        </div>
        <div class="row text-white">
          <div class="col-lg-4 col-sm-12 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-gem text-primary mb-3 sr-icon-1"></i>
              <h3 class="mb-3">Eletrônica</h3>
              <div class="text-center">
                <h6 class="section-heading">Circuito Lógico e Bateria</h6>
                <hr class="my-4">
                <img src="/static/img/portfolio/fullsize/1.jpg" class="img-fluid rounded" alt="Foto da equipe">
                <p class="text-faded mb-0 text-justify"> A Divisão da eletrônica foi composta por alunos de Engenharia Eletrônica e Engenharia de Energia, responsáveis pela identificação e planejamento dos elementos utilizados para a composição da parte lógica do SMC, optando pela eficiência em conjunto com um design que proporcionasse bom uso. Um segmento desse grupo ficou responsável por escolher a bateria, levando em conta formas de carregamento, tempo de utilização e espaço ocupado.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-12 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-paper-plane text-primary mb-3 sr-icon-2"></i>
              <h3 class="mb-3">Estrutura</h3>
              <div class="text-center">
                <h6 class="section-heading">Impressão 3D</h6>
                <hr class="my-4">
                <img src="/static/img/portfolio/fullsize/4.jpg" class="img-fluid rounded" alt="Foto da equipe">
                <p class="text-faded mb-0 text-justify">A Divisão da estrutura foi composta por alunos de Engenharia Automotiva e Engenharia Aeroespacial, responsáveis pela escolha do material do qual o dispositivo SMC é composto, identificando não só o mais resistente como também o que não apresenta riscos à súde do usuário. Essa equipe foi então responsável por imprimir um modelo em 3D para utilização, conforme tamanho identificado pelo segmento de eletrônica.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-12 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-code text-primary mb-3 sr-icon-3"></i>
              <h3 class="mb-3">Software</h3>
              <div class="text-center">
                <h6 class="section-heading">Plataforma Web e Telegram Bot </h6>
                <hr class="my-4">
                <img src="/static/img/portfolio/fullsize/5.jpg" class="img-fluid rounded" alt="Foto da equipe">
                <p class="text-faded mb-0 text-justify">A Divisão de software foi composta por alunos de Engenharia de Software, responsáveis pelo desenvolvimento da aplicação web utilizada pelo usuário para monitoramento, bem como do sistema de comunicação via bot no aplicativo Telegram, comunicando informações identificadas pelo SMC. Um Segmento dessa equipe foi também responsável por estruturar a comunicação via redes estabelecida entre o dispositivo SMC e o banco de dados geral.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <header class="masthead masthead-team text-center text-white d-flex">
    </header>
{% endblock %}

{% block footer %}
  <div class="container footerBox">
    <div class="row">
      <div class="col-lg-9">
        <h5 class="text-uppercase">Equipe SMC</h5>
        <p>O Desenvolvimento do dispositivo foi realizado para a disciplina de "Projeto Integrador de Engenharias 1", da Universidade de Brasília (UnB) faculdade do gama (FGA). O Desenvolvimento do dispositivo não possui fins lucrativos, sem afilicação com nenhuma empresa ou terceiros com foco na venda ou fornecimento de dispositivos desenvolvidos.</p>
      </div>
      <div class="col-lg-3">
        <h5 class="text-uppercase">Links</h5>
        <ul class="list-unstyled">
          <li>
            <a href="http://www.unb.br/" target="_blank" class="text-white">Universidade de Brasília</a>
          </li>
          <li>
            <a href="https://www.fga.unb.br" target="_blank" class="text-white">Faculdade do Gama</a>
          </li>
          <!-- <li>
            <a href="#!" class="text-white">Link 3</a>
          </li>
          <li>
            <a href="#!" class="text-white">Link 4</a>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
