{% extends "base.html" %}

{% block title %}SMC - Equipe{% endblock %}

{% block hreflogo %}/{% endblock %}

{% block navitem %}
            <li class="nav-item">
              <a class="nav-link" href="/user/login/">Login</a>
            </li>
{% endblock %}

{% block content %}
    <section class="bg-secondary">
      <div class="container">
        <div class="text-center">
          <h1 class="text-white text-uppercase">
            <strong>Equipe SMC</strong>
          </h1>
        </div>
        <div class="row text-white">
          <div class="col-lg-4 col-sm-12 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-gem text-primary mb-3 sr-icon-1"></i>
              <h3 class="mb-3">Lorem ipsum dolor</h3>
              <div class="text-center">
                <h6 class="section-heading">Lorem ipsum dolor sit amet!</h6>
                <hr class="my-4">
                <img src="/static/img/team.jpg" class="img-fluid rounded" alt="Foto da equipe">
                <p class="text-faded mb-0 text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-12 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-paper-plane text-primary mb-3 sr-icon-2"></i>
              <h3 class="mb-3">Lorem ipsum dolor</h3>
              <div class="text-center">
                <h6 class="section-heading">Lorem ipsum dolor sit amet!</h6>
                <hr class="my-4">
                <img src="/static/img/team.jpg" class="img-fluid rounded" alt="Foto da equipe">
                <p class="text-faded mb-0 text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-12 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-code text-primary mb-3 sr-icon-3"></i>
              <h3 class="mb-3">Lorem ipsum dolor</h3>
              <div class="text-center">
                <h6 class="section-heading">Lorem ipsum dolor sit amet!</h6>
                <hr class="my-4">
                <img src="/static/img/team.jpg" class="img-fluid rounded" alt="Foto da equipe">
                <p class="text-faded mb-0 text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <header class="masthead masthead-team text-center text-white d-flex">
    </header>
{% endblock %}

{% block footer %}
  <div class="container footerBox">
    <div class="row">
      <div class="col-lg-9">
        <h5 class="text-uppercase">Footer</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="col-lg-3">
        <h5 class="text-uppercase">Links</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-white">Link 1</a>
          </li>
          <li>
            <a href="#!" class="text-white">Link 2</a>
          </li>
          <li>
            <a href="#!" class="text-white">Link 3</a>
          </li>
          <li>
            <a href="#!" class="text-white">Link 4</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
